<h1>42 words</h1>

<article>
  <section>
    <h1>Why</h1>
    <p>When I read books or articles, I “love” some words and “hate” other ones, and I cannot explain why.</p>
    <p>I used to jolt them down in my notepad and then compare my feelings about words with a friend of mine.</p>
    <p>In the end, I think everyone “perceives” words differently and assign personal emotions to them.</p>
    <p>I created 42words to know how my friends feel about some of these words, and which other words “affect” them the most.</p>
  </section>

  <section>
    <h1>How</h1>
    <p>
      Participating in this project is easy: whenever you read a book or article, and stumble upon a word that has some “pleasant” or “unpleasant” effect on you, add it to your list of “love”, “hate” or “mixed feelings” words. This might happen once a week, once a month, or once a year, so don’t feel in a rush!</p>
      Optionally, you can describe the emotion provoked by that word (are you disgusted? thrilled? surprised?) and the context in which you found it.</p>
      Finally, you can check how other people feel about that some word, and see the list of words collected by your friends.</p>
  </section>
</article>

<form>
  <fieldset>
  <legend>Log in or Sign Up</legend>
    <label for="email">Your email:</label>
    <input type="text" name="email" id="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <input type="submit" value="Go!" />
  </fieldset>
</form>